.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 2.5rem;
    background-color: rgb(240,239,230);
    padding-top: 5rem;
}

a, li {
    text-decoration: none !important;
}