.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 2.5rem;
    background-color: rgb(240,239,230);
    padding-top: 5rem;
}

.card-flex-basis {
    flex-basis: 25%;
}
.App {
    height: 50vh;
    width: 100%;
  }

  .map-container {
    height: 100%;
    width: 100%;
  }
a, li {
    text-decoration: none !important;
}

.carousel-caption {
    top: 40%;
}

.dropdown-toggle::after {
    display: none !important;
}

.nav-item > a {
    font-weight: 500;
}

@media only screen and (max-device-width: 768px) {
    .card-flex-basis {
        flex-basis: 50%;
    }
}

@media only screen and (max-device-width: 465px) {
    .card-flex-basis {
        flex-basis: 100%;
    }
}
